.cart-cont {
  min-height: 100vh;
}

.empty-cart-view {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cart-image {
  height: 367px;
  width: 425px;
}

@media screen and (max-width: 767px) {
  .empty-cart-image {
    height: 175px;
    width: 203px;
  }
}

.empty-cart-heading {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 32px;
  color: #1e293b;
}

@media screen and (max-width: 767px) {
  .empty-cart-heading {
    font-size: 20px;
  }
}

.empty-cart-description {
  color: #64748b;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .empty-cart-description {
    font-size: 14px;
  }
}

.cart-link-el {
  text-decoration: none;
}

.empty-cart-button {
  background-color: #f7931e;
  color: #ffffff;
  border-radius: 8px;
  height: 32px;
  width: 93px;
  border-style: none;
}

.payment-success-view {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-success-image {
  height: 80px;
  width: 80px;
}

@media screen and (max-width: 767px) {
  .payment-success-image {
    height: 48px;
    width: 48px;
  }
}

.payment-success-heading {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 24px;
  color: #1e293b;
}

@media screen and (max-width: 767px) {
  .payment-success-heading {
    font-size: 20px;
  }
}

.payment-success-description {
  color: #64748b;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .payment-success-description {
    font-size: 14px;
  }
}

.payment-success-button {
  background-color: #f7931e;
  color: #ffffff;
  border-radius: 8px;
  height: 32px;
  width: 131px;
  border-style: none;
}

.cart-view-cont {
  min-height: 85vh;
}

.cart-items-cont {
  margin-left: 165px;
  margin-right: 165px;
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: #f9fbfe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 100px;
}

@media screen and (max-width: 767px) {
  .cart-items-cont {
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 0px;
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
  }
}

.cart-items-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

@media screen and (max-width: 767px) {
  .cart-items-header {
    display: none;
  }
}

.cart-item-heading {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 20px;
  color: #475569;
  width: 280px;
  text-align: center;
}

.cart-quantity-heading {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 20px;
  color: #475569;
  width: 74px;
  text-align: center;
}

.cart-price-heading {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 20px;
  color: #475569;
}

.cart-items-list {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .cart-item {
    justify-content: flex-start;
  }
}

.cart-item-info {
  display: flex;
  align-items: center;
  width: 280px;
}

.cart-item-img {
  height: 100px;
  width: 136px;
  border-radius: 8px;
  margin-right: 5px;
}

.cart-item-name {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 20px;
  color: #183b56;
}

.cart-item-name-mob {
  display: none;
}

@media screen and (max-width: 767px) {
  .cart-item-name {
    display: none;
  }

  .cart-item-name-mob {
    display: flex;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    color: #183b56;
  }
}

.cart-item-quantity-cont {
  width: 74px;
  height: 24px;
  color: #475569;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .cart-item-quantity-cont-mob {
    height: 88px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.cart-item-quantity-update-button {
  height: 18px;
  width: 18px;
  border-radius: 2px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-quantity {
  color: #475569;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
}

.cart-item-price {
  color: #ffa412;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
}

.cart-item-price-mob {
  display: none;
}

@media screen and (max-width: 767px) {
  .cart-item-price {
    display: none;
  }

  .cart-item-price-mob {
    display: flex;
    color: #ffa412;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
  }
}

.cart-total-price {
  border-top: 1px dotted #cbd2d9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  padding-top: 10px;
}

.order-total-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-total {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .order-total {
    font-size: 16px;
  }
}

.order-button {
  align-self: flex-end;
  border-style: none;
  background-color: #f7931e;
  color: #ffffff;
  height: 32px;
  width: 99px;
  border-radius: 8px;
  margin-top: 10px;
}
