.food-item {
  width: 40%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .food-item {
    width: 90%;
  }
}

.food-item-image {
  height: 150px;
  width: 255px;
  border-radius: 8px;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .food-item-image {
    height: 100px;
    width: 45%;
    border-radius: 5px;
  }
}

.food-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .food-item-details {
    width: 40%;
  }
}

.food-item-name {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  color: #334155;
  margin: 0px;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .food-item-name {
    font-size: 16px;
  }
}

.food-item-cost {
  color: #334155;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .food-item-cost {
    font-size: 14px;
  }
}

.food-item-rating-star {
  color: #ffcc00;
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.food-item-rating {
  color: #0a1f44;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
}

.food-item-quantity-cont {
  width: 74px;
  height: 24px;
  color: #475569;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-quantity-update-button {
  height: 18px;
  width: 18px;
  border-radius: 2px;
  color: #475569;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-quantity {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  color: #475569;
}

.rest-details-loader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-add-button {
  width: 58px;
  height: 32px;
  border: 2px solid #ffa412;
  border-radius: 8px;
  color: #ffa412;
  background-color: transparent;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .item-add-button {
    width: 44px;
    height: 24px;
  }
}
